* {
    margin:0px;
    padding: 10px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #edede9;
    position: relative;
    align-items: center;
    justify-content: center;
    
}
